.main-header {
  width: 100%;
  background: gray;
  padding: 20px 10px;
}

.main-header a {
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
}

.main-header a:hover {
  color: white;
  border-bottom: 5px solid white;
}

.main-header a:active {
  color: blue;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__title {
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 150px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
  font-weight: bold;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.link {
  display: inline-block;
  margin: 0 16px;
}

.link a {
  color: black;
  text-decoration: none;
}

.link a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.link a:active {
  color: blue;
}

.profile-image {
  width: 128px;
  height: 128px;
  border: 2px solid gray;
  border-radius: 50%;
}

.projects-title {
  text-align: center;
}

.project {
  width: 80%;
  padding: 16px 0;
  border: 4px solid red;
  margin: 16px 0;
  border-left: none;
  /* background: red;
  text-align: center;
  padding: 16px;
  margin: 8px;
  /* display: inline-block;
  /* width: 30%;
  vertical-align: middle;
  box-shadow: 2px 2px 2px 2px; */
}

.blogs-title {
  text-align: center;
}

.blog {
  background: red;
  text-align: center;
  padding: 16px;
  margin: 32px;
  /* display: inline-block; */
  /* width: 30%; */
  vertical-align: middle;
  box-shadow: 2px 2px 2px 2px;
}

.blog-title {
  text-align: center;
}

.blog-categories-container {
  text-align: center;
  padding: 10px 0;
}

.blog-categories {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog-category {
  background: white;
  color: red;
  padding: 8px;
  margin: 0 16px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px black;
}

.blog-description {
  padding: 10px 0;
}

p::first-letter {
  font-size: 20px;
}

.main-footer {
  background: gray;
  padding: 32px;
}
