body {
  background-image: url("http://www.seekgif.com/uploads/rad-pack-80--s-themed-hd-wallpaper-17.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#my-name {
  font-size: 500%;
}
