.main-header {
  width: 100%;
  background: gray;
  padding: 20px 16px;
}

.main-header a {
  text-decoration: none;
  color: black;
}

.main-header a:hover {
  color: white;
}

.main-header a:active {
  color: blue;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__title {
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 150px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}
